extends layout
block content
  .row
    .col-md-8.col-md-offset-4
      form.form-inline(ng-submit='getWeather()')
        .form-group
          input#location.form-control(type='text', placeholder='City name...', autocomplete='off' ng-model='cityName')
        .form-group
          button.btn.btn-primary(type='submit' class="btn-search") Search Weather!
  br
  .row
    div(ng-if="location" ng-repeat='weather in weatherList' ng-class="$first ? 'col-md-4' : 'col-md-2 col-sm-3 col-xs-3'")
      .panel.panel-primary.panel-height
        .panel-heading(ng-class="$first ? '' : 'text-center'") 
          div(ng-class="$first ? '' : 'hidden'") 
            {{weather.day}}, {{weather.date}}
          div(ng-class="$first ? 'hidden' : ''")
            p {{weather.day}}
              span.hidden-xs, {{weather.date}}  
        .panel-body.text-center 
          div(ng-class="$first ? '' : 'hidden'")
            h4
              span {{weather.text}} -  
              span.glyphicon.glyphicon-arrow-up(aria-hidden="true") 
              span High: {{weather.high}}째F - 
              span.glyphicon.glyphicon-arrow-down(aria-hidden="true")  
              span Low: {{weather.low}}째F
          div(ng-class="$first ? 'hidden' : ''")
            p High: {{weatherList[1].high}}째F 
            p Low: {{weatherList[1].low}}째F    
  hr
  .row(ng-if="location")
    .col-md-8.col-md-offset-4
      form.form-inline(ng-submit='getRestaurants(selecetdCategory)')
        .form-group
          label(for='foodCategory') Kind of Food:
          select#foodCategory.form-control(name='foodCategory', ng-model='selecetdCategory' ng-options='option for option in foodCategoryList')
        .form-group
          button.btn.btn-primary(type='submit' class="btn-search") Search Restaurants!
  br
  .row(ng-repeat='restaurant in restaurantsList' ng-if="restaurantsList")
      .col-md-6.col-md-offset-3
        .panel.panel-primary
          .panel-heading {{restaurant.Title}}
          .panel-body 
            p {{restaurant.Address}}, {{restaurant.City}}, {{restaurant.State}}
            p {{restaurant.Categories.Category[0].content}}
            p 
              a(href="{{restaurant.BusinessUrl}}" target="_blank" ng-if="restaurant.BusinessUrl") Official Site
          .panel-footer 
            p(ng-if="restaurant.Phone") Phone: {{restaurant.Phone}}